*~
*.d
*.ld
*.o
*.a
*.map
*.elf
*.so
*.build
*.bin
*.tmp
*.dasm
cas
target
.envrc
shell.nix
cscope.files
cscope.in.out
cscope.out
cscope.po.out
*.gen.*
*#
*.info
*.core
a.out
rustup.out
ebin
hs/dist-newstyle
hs/resul
jack
maxima/moebius4.mac
pd
rkt/compiled
signalsmith/dsp
zig/zig-cache
